{% extends "base.html" %}
{% block title %}NBA Assets{% endblock %}
{% block content %}
<div class="container" style="margin-top:103px; margin-bottom:100px;">
  <div class="row">
    <div class="col-md-12" align = "center">
        <img class="img-responsive" src="/static/lebronbanner.png" width="100%" height="auto">
      </div>
  </div>

  <div class="row" style="padding-top:20px">
    <div class="col-md-3" align="center" width="25%">

    </div>
<div class="col-md-6" width="50%">
<table>
<tr><td style="text-align:center; font-weight:bold; font-size:22px; padding:10px">  About NBA Assets </td></tr>
  <tr><td>

    <p style="font-weight:bold">What is <a href="/index">NBAassets.com?</a></p>
    <br><br>
    A database ranking every NBA team’s assets, maintained and edited by Eric Goldwein (<a href="http://www.twitter.com/Hoop_76">@Hoop_76</a>), Xylon Dimoff (<a href="http://www.twitter.com/xylondimoff">@xylondimoff</a>) and Bryan Toporek (<a href="http://www.twitter.com/btoporek">@btoporek</a>). By grouping together players, picks, and rights held prospects -- in a thought-out, albeit subjective order -- we hope to offer a different way of looking at the league’s 30 franchises.
    <br><br>

    You may have noticed that we are no longer a spreadsheet. Nick Renner, a Philadelphia based developer and Sixers fan, has been building this into a real website, and your patience and feedback are welcome (<a href="http://www.twitter.com/nbaassets">@NBAassets</a>) as we continue trying to make it better. In the meantime, you can continue visiting <a href="https://docs.google.com/spreadsheets/d/1rAVHwPmkX3Ir1uXEAuEIR0ReX3UmRJbcMZKFSE3r2nM/">the original spreadsheet</a> which will be updated more regularly.
    <br><br>

  <p style="font-weight:bold">  How are the rankings determined?</p>
    <br><br>

    Think of this as a fantasy draft where you are the general manager, and your goal is building and sustaining a championship contender (as opposed to generating profit). An asset’s value is determined by its projected production, contract, and likelihood of re-signing with given team. Superstars and potential stars are ranked at the top, bad contracts at the bottom, and everything else in between.
    <br><br>

<p style="font-weight:bold">Who are you and why should we trust your rankings?</p>
    <br><br>

    The site's founders are journalists and NBA addicts. Eric Goldwein writes for The Washington Post. Bryan Toporek, a CBA wizard, writes for Education Week and various NBA blogs. Xylon Dimoff writes for the Indianapolis Star and LibertyBallers.com.
    <br><br>

    For the last four years, we’ve been blogging about Sam Hinkie and the Philadelphia 76ers at Hoop76.com. Assets are all we know.
    <br><br>


    Each player and draft pick was evaluated based on information from online resources and input from various NBA writers. Advanced metrics such as <a href="http://projects.fivethirtyeight.com/carmelo/">538’s CARMELO</a> and ESPN’s Real Plus-Minus carried a lot of weight, but we also relied on publicly available scouting reports and write-ups. Everything from age, to injury history, to contract, to agent was taken into account. (<a href="https://nbaassets.wordpress.com/2016/06/28/value-draft-picks/">And here’s an explanation for how we evaluated draft picks.</a>)
    <br><br>

    That said, this is a highly subjective exercise. Its purpose is not to definitely declare one asset superior to another, but rather to present NBA rosters in a new way, from the perspective of the armchair GM. These are fluid lists that will be updated regularly, so comments, critiques, and corrections are encouraged.
    <br><br>

    Thanks for stopping by.
    <br><br>


  </td></tr>
</table>

</div>


<div class="col-md-3" width="25%"></div>
</div>
<br><br>


{% endblock %}
