<footer>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <ul id="my-list">

            <li><a href="/DAL"> <img src="/static/DAL.gif"></a></li>
            <li><a href="/HOU"> <img src="/static/HOU.gif"></a></li>
            <li><a href="/MEM"> <img src="/static/MEM.gif"></a></li>
            <li><a href="/NOP"> <img src="/static/NOP.gif"></a></li>
            <li><a href="/SAS"> <img src="/static/SAS.gif"></a></li>
            <li><a href="/GSW"> <img src="/static/GSW.gif"></a></li>
            <li><a href="/LAL"> <img src="/static/LAL.gif"></a></li>
            <li><a href="/LAC"> <img src="/static/LAC.gif"></a></li>
            <li><a href="/PHX"> <img src="/static/PHX.gif"></a></li>
            <li><a href="/SAC"> <img src="/static/SAC.gif"></a></li>
            <li><a href="/DEN"> <img src="/static/DEN.gif"></a></li>
            <li><a href="/MIN"> <img src="/static/MIN.gif"></a></li>
            <li><a href="/OKC"> <img src="/static/OKC.gif"></a></li>
            <li><a href="/POR"> <img src="/static/POR.gif"></a></li>
            <li><a href="/UTH"> <img src="/static/UTH.gif"></a></li>
            <li><a href="/#"> <img src="/static/western.gif"></a></li>

            <li><a href="/#"> <img src="/static/nba.gif"></a></li>

            <li><a href="/#"> <img src="/static/eastern.gif"></a></li>
            <li><a href="/BOS"> <img src="/static/BOS.gif"></a></li>
            <li><a href="/BRK"> <img src="/static/BRK.gif"></a></li>
            <li><a href="/NYK"> <img src="/static/NYK.gif"></a></li>
            <li><a href="/PHL"> <img src="/static/PHL.gif"></a></li>
            <li><a href="/TOR"> <img src="/static/TOR.gif"></a></li>
            <li><a href="/CHI"> <img src="/static/CHI.gif"></a></li>
            <li><a href="/CLE"> <img src="/static/CLE.gif"></a></li>
            <li><a href="/DET"> <img src="/static/DET.gif"></a></li>
            <li><a href="/IND"> <img src="/static/IND.gif"></a></li>
            <li><a href="/MIL"> <img src="/static/MIL.gif"></a></li>
            <li><a href="/ATL"> <img src="/static/ATL.gif"></a></li>
            <li><a href="/CHA"> <img src="/static/CHA.gif"></a></li>
            <li><a href="/MIA"> <img src="/static/MIA.gif"></a></li>
            <li><a href="/ORL"> <img src="/static/ORL.gif"></a></li>
            <li><a href="/WAS"> <img src="/static/WAS.gif"></a></li>
          </ul>
        </div>
      </div>
    </div>

</div>
</footer>
